<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nodejs 도서관</title>
</head>
<body>
    <h1>로그인</h1>
    <div>
        <form action="/loginCheck" method="post">
            <div>
                <label for="">ID</label>
                <input type="text" name="userId" placeholder="id를 입력해주세요."/>
            </div>
            <div>
                <label for="">PW</label>
                <input type="password" name="userPw" placeholder="password를 입력해주세요."/>
            </div>
            <button type="submit" id="loginBtn">로그인</button>
        </form>
    </div>
    <div>
        <form action="/signup" method="post">
            <button type="submit">회원가입</button>
        </form>
    </div>

    <!--
    <script>
    $(document).ready(function() {
        $('#loginBtn').click(function() {
            var post = 'POST METHOD CALL';
            //Ajax POST Method TEST
            $.ajax({
                url: '/loginCheck',
                    dataType: 'json',
                    type: 'POST',
                    data:
                    {
                        "userid": $("#userId").val(),
                        "userpw": $("#userPw").val()
                    },
                    success: function(result) {
                        console.log("성공");
                    },
                    error: function(result) {
                        console.log("실패");
                    }
                });
        });
    });
    </script>
-->
</body>
</html>