<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/search" method="get">
        <select name="searchopt">
            <option value="book_name">책이름</option>
            <option value="book_author">저자</option>
        </select>
        <input type="text" name="keyword" placeholder="검색어를 입력해주세요."/>
        <button type="submit">검색</button>       
    </form>

</body>
</html>